<!DOCTYPE html>
<html>
<head>
  <title>RedditApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class= "container">
        <% if current_user %>
          <div class = 'nav navbar-nav navbar-right'>
            <%= link_to 'Sign Out', sign_out_path, class: 'btn btn-primary'  %>
          </div>
        <% else %>
          <div class = 'nav navbar-nav navbar-right'>
            <%= link_to 'Sign Up', sign_up_path , class: 'btn btn-primary'%>
            <%= link_to 'Sign In', sign_in_path , class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  <div class= "container">

    <% if flash[:notice] %>
      <div class= "alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <% if flash[:error] %>
      <div class= "alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

  <%= yield %>
  </div>
</body>
</html>
